<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Abtion Secret</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body class="<%= "#{controller.controller_name}-#{action_name}".strip %>">
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <a href="https://www.abtion.com" target="_blank">
        <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 39" fill="none"><path d="M7.78208 38.4012C12.08 38.4012 15.5642 34.9496 15.5642 30.6918C15.5642 26.434 12.08 22.9824 7.78208 22.9824C3.48415 22.9824 0 26.434 0 30.6918C0 34.9496 3.48415 38.4012 7.78208 38.4012Z" fill="currentColor"></path><path d="M48 37.6742H34.7738L16.4353 0H29.6615L48 37.6742Z" fill="currentColor"></path></svg>
      </a>
    </footer>
  </body>
</html>
