<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <title>Abtion Secret</title>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body class="<%= "#{controller.controller_name}-#{action_name}".strip %>">
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <a href="https://www.abtion.com/sikkerhedspolitik" target="_blank">Disclosure Policy</a>
    </footer>

    <%= javascript_pack_tag "react-components" %>
    <%= stylesheet_pack_tag "react-components" %>
  </body>
</html>
